<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动规则</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=1226252296" />    
    <meta name="format-detection" content="telephone=no, email=no" />
    <script type="text/javascript" src="../../lib/reset.js"></script>  
    <link href="../../common/main.css" rel="stylesheet">
    <style>  
     .rule-wrap{
     	position: relative;
        width:100%;
        height:13.34rem;
        background:url(../../images/rule.png);
        background-size: 100% 100%;
     }

     .share-rule{
     	position: absolute;
     	top:38%;
     	margin:0 .4rem;
     }
     h1{
     	font-size: 17px;
     }
     p{
     	line-height: 1.8em;
     	margin-top: .3rem;
        font-size: 14px;
        color:#666;     	
     }
    </style>
</head>
<body>
    <div class="rule-wrap">
        <div class="share-rule">
            <h1>规则说明</h1>
            <div>
                <p style="margin-top:.2rem">
                    1、好友在邀请页面输入手机号码后，并在1日内成功通过App使用手机号注册，并完整观看一条视频后，你与好友将同时获得红包。
                </p>

                <p>
                    2、微信邀请时，二维码有效期为29天。29天后需重新在该页面发起分享，才能激活新的有效二维码。                  
                </p>
                
                <p>
                    3、邀请成功后，您与好友将分别获得0.5元红包。红包当日奖励金额上限为1000元。
                </p>
            </div>
        </div>        
    </div>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>